<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
	<target xsi:type="Network" 
        name="tcpTarget" 
        address="tcp://localhost:4505">
		<layout xsi:type="JsonLayout">
			<attribute name="time" layout="${longdate:universalTime=true}" />
			<attribute name="level" layout="${level}" />
			<attribute name="logger" layout="${logger}" />
			<attribute name="message" layout="${message}" />
			<attribute name="exception" layout="${exception:format=tostring}" includeEmptyValue="false" />
			<attribute name="process" layout="${processname}" />
		</layout>
	</target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="tcpTarget" />
  </rules>
  
</nlog>
